---
title: Nyheiter
layout: layouts/home.njk
---

<h1>Nyheiter</h1>

<ul>
  {% for post in news %}
    <li>
      <strong>{{ post.title }}</strong><br/>
      <p>{{ post.content }}</p>
    </li>
  {% endfor %}
</ul>
