---
layout: layouts/base.njk
title: Nyheter
---

<h1>Nyheter</h1>

{% for post in nyheter %}
  <article>
    {% if post.bilde %}
      <img src="{{ post.bilde }}" alt="Bilde til {{ post.tittel }}" style="max-width: 100%; height: auto;" />
    {% endif %}
    <h2>{{ post.tittel }}</h2>
    <p><em>{{ post.dato }}</em></p>
    <p>{{ post.ingress }}</p>
    <a href="/nytt/{{ post.slug }}/">Les mer</a>
  </article>
{% endfor %}
