---
layout: layouts/base.njk
title: Dokument
---

<h1>Dokument</h1>
<ul>
  <li><a href="/static/arsmelding-2024.pdf">Årsmelding 2024 (PDF)</a></li>
  <li><a href="/static/sportsplan.pdf">Sportsplan</a></li>
</ul>
