---
layout: layouts/base.njk
title: Kontakt
---

<h1>Kontakt oss</h1>
<p>Har du spørsmål eller vil bli medlem?</p>
<ul>
  <li>Leder: Mona Liabø Hanssen</li>
  <li>Mobil: 993 85 522.</li>
  <li>E-post: <a href="mailto:fiksdalrekdalbk2@gmail.com">fiksdalrekdalbk2@gmail.com</a></li>
  <li>Facebook: <a href="https://www.facebook.com/p/FiksdalRekdal-Ballklubb-100057307494090/" target="_blank">https://www.fb.com/p/FiksdalRekdal-Ballklubb-100057307494090/</a></li>
</ul>
