---
title: Utmerkelser
layout: layouts/base.njk
---

<section>
  <h1>Utmerkelser</h1>

<div class="timeline-container">
  <div class="timeline-item">
    <div class="timeline-date">1990</div>
    <div class="timeline-content">Dieter Last utnevnt som æresmedlem i Fiksdal/Rekdal BK</div>
  </div>
  <div class="timeline-item">
    <div class="timeline-date">1993</div>
    <div class="timeline-content">Kjetil Rekdal utnevnt som æresmedlem i Fiksdal/Rekdal BK</div>
  </div>
  <div class="timeline-item">
    <div class="timeline-date">2009</div>
    <div class="timeline-content">Edmund Melkild mottok ærespris fra Fiksdal/Rekdal BK for innsatsen i klubben</div>
  </div>
  <div class="timeline-item">
    <div class="timeline-date">2009</div>
    <div class="timeline-content">Dag Nakken mottok ærespris fra Fiksdal/Rekdal BK for innsatsen i klubben</div>
  </div>
  <div class="timeline-item">
    <div class="timeline-date">2011</div>
    <div class="timeline-content">Dag Nakken mottok hederspris fra Norges Fotballforbund som takk for innsatsen innen fotballsporten</div>
  </div>
  <div class="timeline-item">
    <div class="timeline-date">2018</div>
    <div class="timeline-content">Kjetil Rekdal mottok Kniksens hederspris for sin innsats i norsk og internasjonal fotball</div>
  </div>
  <div class="timeline-item">
    <div class="timeline-date">2019</div>
    <div class="timeline-content">Dag Nakken utnevnt som æresmedlem i Fiksdal/Rekdal BK</div>
  </div>
  <div class="timeline-item">
    <div class="timeline-date">2019</div>
    <div class="timeline-content">Elisabeth D. Nakken mottok hederspris fra Norges Fotballforbund som takk for innsatsen innen fotballsporten</div>
  </div>
  <div class="timeline-item">
    <div class="timeline-date">2023</div>
    <div class="timeline-content">Elisabeth D. Nakken utnevnt til æresmedlem i Fiksdal/Rekdal BK</div>
  </div>
</div>

</section>
